/* 전체 앱의 최소, 최대 너비 설정 */
.app-container {
  max-width: 1980px;
  min-width: 1080px;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

/* 기본 폰트 & 박스사이징 초기화 */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
  background-color: #fdfdfd;
}

/* 하위 모든 엘리먼트에도 box-sizing 적용 */
*, *::before, *::after {
  box-sizing: inherit;
}