/* CalendarPage.module.css */
.calendar-main {
  margin-left: 300px;
  margin-right: 300px;
  box-sizing: border-box;
}

.calendar-main-container {
  display: flex;
  gap: 40px;
  width: 100%;
}

.calendar-main-box {
  flex: 3;
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  height: 85vh;
  box-sizing: border-box;
}

.calendar-main-side {
  flex: 1;
  min-width: 250px;
}

.sides-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sides-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.sides-card.pinks {
  font-size: 16px;
  text-align: center;
  background-color: #fad0e9;
  border: none;
  color: #333;
  font-weight: 600;
}

.sides-card.blues {
  font-size: 14px;
  color: #333;
}

/* 이벤트 스타일 */
.fc-event {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  font-size: 0 !important;
}
