.maintitle {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  white-space: nowrap;
}
/* 헤더 아래 전체 회색 배경 */
.recommend-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
  background-color: #eff1f5;
  min-height: 50vh;
  box-sizing: border-box;
}

.recommend-inner {
  padding-left: 200px;
  padding-right: 200px;
}

/* progressbar-wrapper: 상단에 웨딩홀 + 퍼센트바 */
.progressbar-wrapper {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
}

/* 퍼센트 + 바 */
.progress-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.progress-text {
  font-size: 30px;
  color: #efa1dc;
}

.progress-bar {
  width: 500px;
  height: 10px;
  background-color: #eee;
  border-radius: 999px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #efa1dc;
  transition: width 0.3s ease;
}

