/* budgetcontainer.css */
.budget-container {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  @media (min-width: 930px) {
    .budget-container {
      width: 930px;
    }
  }