/* 예산 박스 */
.budget-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fde9ec;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 50px;
  margin: 0 300px; /* 좌우 300px */
}
  .budget-item {
    flex: 1;
    text-align: center;
    font-weight: 500;
  }
  
  .divider {
    width: 1px;
    height: 40px;
    background-color: #333;
  }
  


.label {
    font-size: 14px;
    color: #777;
  }
  
  .value {
    font-weight: bold;
    font-size: 15px;
    color: #333;
  }

  